# {{ project_name }}

{{ project_description }}

[![PyPI](https://img.shields.io/pypi/v/{{ project_slug }}?color=blue)](https://pypi.org/project/{{ project_slug }}/)
[![Python](https://img.shields.io/pypi/pyversions/{{ project_slug }})](https://pypi.org/project/{{ project_slug }}/)
[![License](https://img.shields.io/github/license/{{ github_org }}/{{ project_slug }})](LICENSE)
[![CI](https://github.com/{{ github_org }}/{{ project_slug }}/actions/workflows/ci.yml/badge.svg?branch=master)](https://github.com/{{ github_org }}/{{ project_slug }}/actions/workflows/ci.yml)
[![codecov](https://codecov.io/gh/{{ github_org }}/{{ project_slug }}/graph/badge.svg)](https://codecov.io/gh/{{ github_org }}/{{ project_slug }})
[![Docs](https://img.shields.io/badge/docs-online-blue)](https://{{ github_org }}.github.io/{{ project_slug }}/)

## Installation

```bash
pip install {{ project_slug }}
```

**Requirements:** Python {{ python_min_version }}+

## Quick start

```python
# TODO: add quick start example
```

## Documentation

Full documentation at [{{ github_org }}.github.io/{{ project_slug }}](https://{{ github_org }}.github.io/{{ project_slug }}/).

## License

Apache 2.0 — see [LICENSE](LICENSE).
