blank_issues_enabled: false
contact_links:
  - name: Question or discussion
    url: https://github.com/{{ github_org }}/{{ project_slug }}/discussions
    about: Ask a question or start a discussion about {{ project_name }}
